@import '../../../styles/mixins';

.favorites {

  &__wrapper {
    position: relative;
  }

  &__remove {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
    cursor: pointer;
  }

  &__list {
    display: grid;
    row-gap: 25px;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 35px;

    @include big-laptop {
      grid-template-columns: repeat(3, 1fr);
    }

    @include tablet-landscape {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}