@import '../../styles/vars';
@import '../../styles/mixins';

.product {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 30px;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }

  &__bg {
    padding: 20px 20px;
    border-radius: 10px;
    background-color: $product-card-bg;
    height: auto;

    @include mobile {
      padding: 0;
    }
  }

  &__image {
    display: inline-block;
  }

  &__content {
    margin-left: 35px;

    @include tablet {
      margin-left: 0;
      text-align: center;
    }
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 5px;

    @include tablet {
      margin-top: 35px;
    }
  }

  &__price {
    font-size: 2rem;
    color: rgb(205, 39, 39);
    font-weight: 700;
    margin-bottom: 25px;
  }

  &__info {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 5px;

    @include mobile {
      justify-content: center;
      margin-bottom: 5px;
    }
  }

  &__info_item:not(:last-child) {
    margin-right: 10px;
  }

  &__info_item_item {
    font-size: 1.6rem;
    color: grey;
  }

  &__info_name {
    color: #20a2bd;
    margin-left: 5px;
  }

  &__stock {
    margin-bottom: 25px;
  }

  &__inStock_true,
  &__inStock_false {
    font-size: 1.6rem;
    color: #20a2bd;
  }

  &__inStock_false {
    color: rgb(194, 57, 57);
  }

  &__description {
    font-size: 1.6rem;
    color: grey;
    max-width: 730px;
    margin: 0 auto 25px auto;

    @include tablet {
      text-align: center;
    }
  }

  &__sizes {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    @include tablet {
      justify-content: center;
    }
  }

  &__sizes_item {

    @include tablet {
      margin-bottom: 15px;
    }
  }

  &__sizes_item:not(:last-child) {
    margin-right: 15px;
  }

  &__sizes_btn {
    font-family: inherit;
    font-size: 1.4rem;
    color: grey;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    transition: .3s;
  }

  &__sizes_item:hover {
    background-color: $form-btn-color;
    color: #fff;
    border-color: $form-btn-color;
  }

  &__buttons {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 15px;

    @include tablet {
      justify-content: center;
    }
  }

  &__buttons_item {
    margin-right: 15px;
  }
}