$container-width: 1410px;
$container-padding: 15px;

//font
$primary-font-color: rgb(36, 38, 38);
$secondary-font-color: rgb(139, 141, 141);

//colors
$form-color: #ceb744;
$form-btn-color: #10708b;

//resolution
$laptop: 1180px;
$mobile-landscape: 540px;