$container-width: 1410px;
$container-padding: 15px;

//font
$primary-font-color: rgb(36, 38, 38);
$secondary-font-color: rgb(139, 141, 141);

//product card bg
$product-card-bg: #d0e8ed;

//product card price color
$product-card-price-color: rgb(197, 59, 59);

//colors
$form-color: #ceb744;
$form-btn-color: #10708b;

//resolution
$laptop: 1180px;
$mobile-landscape: 540px;
$mobile: 400px;